body{
    background-color: rgb(8, 18, 74);
    color: #D7DADC;
    font-family: Helvetica,Arial,sans-serif;
    align-content: center;
}

a:link{
    color:#D7DADC;
}

a:visited{
    color:#D7DADC;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 275px;
    border: 5px solid #D7DADC;
}


.child {
    text-align: center;
    border: 2px solid #D7DADC;
    padding: 1rem 1rem;
    margin: 10px;
    max-width: 300px;
}

.aboutSection {
    display: flex;
    margin-left: 275px;
    border: 5px solid #D7DADC;
    max-height: 500px;
    max-width: 1000px;
}

.about {
    justify-content: center;
    padding: 1rem 1rem;
    margin-left: 10px;
    align-content: center;
}

#aboutText{
    align-self: flex-end;
    text-align: center
}

.gamesSection {
    display: flex;
    justify-self: center;
    text-align: center;
    margin-left: 275px;
    border: 5px solid #D7DADC;
}

.games{
    padding: 1rem 1rem;
    margin-left: 10px;
}
