body{
    background-color: rgb(8, 18, 74);
    color: #D7DADC;
    font-family: Helvetica Neue,Arial,sans-serif;
}

a:link{
    color:#D7DADC;
}

a:visited{
    color:#D7DADC;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 1000px;
}


.child {
    border: 10px solid #D7DADC;
    padding: 1rem 1rem;
    margin: 10px;
    max-width: 300px;
  }