div{
    width: 100px;
    height: 100px;
}
#box1{
    background-color: green;
    transition-property: background-color;
    transition-duration: 2s;
}

#box1:hover{
    background-color: lightblue;
}

#box2{
    background-color: yellow;
    transition-property: font-size;
    transition-duration: 3s;
}

#box2:hover{
    font-size: 300px;
    width: fit-content;
    height: fit-content;
}

#box3{
    background-color: blue;
    transition-duration: 0.6s;
}

#box3:hover{
    transform: translateX(100px);
}