.header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    justify-content: space-around;
}

h1{
    text-align: center;
}

.footer {
    display: flex;
    border-top: 2px solid black;
    justify-content: space-evenly;
}
