body{
    font-family: Arial, Helvetica, sans-serif;
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}


.header {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
    padding-left: 25%;
    padding-right: 25%;
}

h1{
    text-align: center;
}

h3{
    text-decoration: underline;
    padding: 2px;
    margin: 0;
}

p{
    margin: 2px;
    padding: 1px;
}

.body-items {
    display: flex;
    border-top: 2px solid white;
    justify-content: space-evenly;
}



